<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>Scrabble Scoring Chart!</h1>
    </header>
    <p class="bonus ">BONUS FOR 7-LETTER WORDS: <%= bonus %> POINTS</p>
    <div class="table">
      <table>
        <tr>
        <th class="points">LETTER</th>
        <th class="points">POINTS</th>
        </tr>

       <tr> <% for (var i=0; i < letters.length; i++) { %>
          
            <td class="points"><%= letters[i] %></td>
            <td class="points"><%= scoring[letters[i]] %></td>
          </tr>
        <% } %>
      </table>
    </div>
  </body>
</html>