<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="index">
      <h1><%= title %></h1>
      <nav>
        <ul>
          <li><a href="/chart">scoring chart</a></li>
          <li><a href="/score">score a word</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
