<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <header><h1><%= title %></h1></header>
    <form method="post" action="/score" class="score-one">
      <input type="text" name="word"><br>
      <input type="submit" value="Score It! " class="btn btn-primary">
    </form>
    <div class="scored-word">
      <span class="word"><%= locals.word %></span><br><br>
      <%= locals.points %> POINTS!
    </div>
  </body>
</html>