<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header><%= title %></header>
    <form method="post" action="/score">
      <input type="text" name="word">
      <input type="submit" value="Submit">
    </form>
    <%= locals.points %>
  </body>
</html>